@font-face{
 font-family: 'Copernicus';
 src: url('./Copernicus-Medium.otf');
 font-weight: normal;
 font-style: normal;
}
@font-face{
 font-family: 'Copernicus';
 src: url('./Copernicus-Bold.otf');
 font-style: normal;
 font-weight: bold;
}

@font-face{
 font-family: 'Copernicus';
 src: url('./Copernicus-MediumItalic.otf');
 font-style: italic;
 font-weight: normal;
}

@font-face{
 font-family: 'Copernicus';
 src: url('./Copernicus-BoldItalic.otf');
 font-style: italic;
 font-weight: bold;
}


@font-face{
 font-family: 'Copernicus Book';
 src: url('./Copernicus-Book.otf');
 font-style: normal;
 font-weight: 100;
}

@font-face{
  font-family: 'Copernicus-SemiboldItalic';
  src: url('./Copernicus-SemiboldItalic.otf');
  font-style: italic;
}

@font-face{
  font-family: 'Copernicus-Extrabold';
  src: url('./Copernicus-Extrabold.otf');
  font-style: normal;
  font-weight: bolder;
}
@font-face{
 font-family: 'PostGrotesk';
 src: url('./PostGrotesk-Medium.otf');
 font-weight: normal;
 font-style: normal;
}
@font-face{
 font-family: 'PostGrotesk-Light';
 src: url('./PostGrotesk-Light.otf');
 font-weight: 100;
 font-style: normal;
}

@font-face{
 font-family: 'PostGrotesk';
 src: url('./PostGrotesk-Bold.otf');
 font-weight: bold;
 font-style: normal;
}

@font-face{
 font-family: 'PostGrotesk Book';
 src: url('./PostGrotesk-Book.otf');
 font-weight: 100;
 font-style: normal;
}
