.rcorners1 {
    border-radius: 10px;
    padding: 8px; 
    height: 30px;
    width:30%;
    float: right;
    vertical-align: middle;  
    margin: auto;
    position: absolute;
    top: 0; bottom: 0;
    text-align:center
}

.dialog-wrapper {
    display: inline-block;
    width:100%;
}

.dialog-item-left {
    width:48%;
    float: left
}

.dialog-item-right {
    border: black;
    width:48%;
    float: right
}